<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">What We Offer</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="fa fa-globe fa-2x"></i>
                </div>
                <h3 class="mb-3">Website development</h3>
                <p class="mb-0">
                    From responsive design to user-friendly interfaces, our website services are designed to enhance the user experience and drive engagement
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="fa fa-mobile fa-2x"></i>
                </div>
                <h3 class="mb-3">Mobile application development</h3>
                <p class="mb-0"> From iOS to Android and cross-platform solutions, our mobile app development services are designed to enhance the user experience and drive engagement</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="fas fa-ad fa-2x"></i>
                </div>
                <h3 class="mb-3">Digital marketing</h3>
                <p class="mb-0">Our solutions are designed to help businesses connect with their target audience, increase their online visibility, and drive engagement</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="	fas fa-poll fa-2x"></i>
                </div>
                <h3 class="mb-3">SEO and social media management</h3>
                <p class="mb-0">We offer a range of custom social media solutions, including content creation, community management, social media advertising, and analytics</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="fa fa-question-circle fa-2x"></i>
                </div>
                <h3 class="mb-3">Virtual assistant </h3>
                <p class="mb-0">Our virtual assistant service is designed to help businesses streamline their operations and boost productivity. Our team of expert virtual assistants offers a range of services, including administrative tasks, email management, scheduling,  customer support, and more.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4"
                    style="width: 90px; height: 90px;">
                    <i class="fas fa-briefcase fa-2x"></i>
                </div>
                <h3 class="mb-3">Business advisory </h3>
                <p class="mb-0">We also provide business advice and consult to new and startup business. Contact us to know more</p>
            </div>
        </div>
    </div>
</div>